.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    gap: 1rem;
    background-color: #fff;
  }
  
  .buttons {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin-bottom: 2rem;
  

  }
  .buttons>button{
    width: 6rem;
    padding: .6rem;
    border-radius: .5rem;
    font-weight: 700;
    border: 0;
    background-color: rgb(4, 4, 30);
    color: white;
  }
  .buttons>button:hover{
    background-color:  orangered;
    transform: scale(1.09);
  }

  
  .question {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(4, 4, 30);
    width: 80%;
    height: 70vh;
    border: 1px solid rgb(250, 249, 249);
    padding: 1rem;
    font-size: 1.5rem;
    overflow: auto;
    color: aliceblue;
    border-radius: 1rem;
    margin-top: 1rem;
    border: 0;
  }
  .answer{
    width: 98%;
    border-radius: .3rem;
    margin-top: 1rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
    border: 0;
  }

  .submitBtn{
           position: absolute;
           right:0;
           bottom: 0;
           margin:0 3rem 2rem 0;
            z-index: 2;
            width: 6rem;
            padding: .5rem;
            border-radius: .5rem;
            font-weight: 500;
            border: 0;
            font-size: smaller;
            background-color: orangered;
            color: white;
  }

  .submitBtn:hover{
    color: #fff;
    background-color: rgb(4, 4, 30);
  }

 

@media (min-width: 638px) and (max-width: 979px) { 
   
 }
@media (min-width:400px) and (max-width: 638px) { 
  
 }
@media (min-width:0px) and (max-width: 400px) { 
  .question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 70vh;
    padding: 0.5rem;
    font-size: 1.2rem;
 
  }
 }